*{
    box-sizing: border-box;
}

nav{
    background-color: whitesmoke;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

body{
    color: darkgreen;
    background-color: rgb(223, 215, 215);
}

ul{
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius:10%;
    align-items: center;
    width: 300px;
    height: fit-content;
    padding: 25px;
    margin: 40px;
    box-shadow: 4em white;
}